# Backend - Python
backend/venv/
**/__pycache__/
*.pyc
backend/uploads/*
!backend/uploads/.gitkeep
backend/models/*
!backend/models/.gitkeep
google_credentials.json
backend/google_credentials.json

# Frontend - Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.DS_Store

# General
.DS_Store
.vscode/
.idea/
*.log
.env
backend/.env
